
@import "src/@fuse/scss/fuse";
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Muli'
);
@include mat-core($custom-typography);

.page-layout {

    font-family: Muli,"Helvetica Neue",Arial,sans-serif;

    .header {
        position: relative;
        flex: 1 0 auto;
        height: 90px;
        max-height: 90px;
        background: #FF9326;
        // background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);
        text-align: center;

        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }

        h1 {
            color: white;
            font-size: 40px;
            font-weight: 300;
            letter-spacing: 0.01em;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0px;

            @include media-breakpoint-down('xs') {
            font-size: 24px;
            }
        }
    }

    .mat-column-actions {
        flex: 0 0 300px;
    }

    .mat-column-image {
        flex: 0 0 100px;
    }

    .mat-column-name {
        font-size: 20px;
    }


}

img.header-icon {
    left: 10px;
    padding: 16px;
    max-height: 100%;
    position: absolute;
    //   filter: brightness(0) invert(1);
    


    @include media-breakpoint-down('xs') {
    display: none;
    }
}

.material-icons.white_large { 
    color: #FFFFFF; 
    transform: scale(2.5);
    padding-left: 5px;
}

.mat-spinner-color::ng-deep circle{
    stroke: #FFFFFF !important;
}

.mat-button-invblue {
    background-color: #FFFFFF !important;
    border-color: blue !important;
    color: blue !important;
}

// @import '~@angular/material/theming';
// @include mat-core();

// $my-app-primary:  mat-palette($mat-indigo, 900);
// $my-app-accent: mat-palette($mat-indigo, 50);

// $my-app-warn:    mat-palette($mat-white);

// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// @include angular-material-theme($my-app-theme);




//     .buttons {
//       right: 0;
//       position: absolute;
//     }
//   }

//   .dashboard-area {
//     gridster {
//       min-height: 1000px;
//       background-color: transparent;
//     }

//     gridster.display-grid {
//       background: grey;
//     }
//   }
// }
